<div id="subjectPage">
  <% if (locals.user) { %>
    <h2>Subject: <%= books[0].subject %></h2>
    <% for (const book of books) { %>
        <div class="bookPreview">
            <h3><%= book.title %></h3>
            <h4>Author: <%= book.author %></h4>
            <h4>Price: <%= book.price %></h4>
            <p>ISBN: <%= book.isbn %></p>

            <form class="addToCartForm" autocomplete="off">
              <input type="hidden" value="<%= book.isbn %>" name="isbn">
              <label for="quantity">Quantity</label>
              <input autocomplete="off" id="quantity" type="number" min="1" max="15" name="quantity" required>
              <button type="submit" class="btn">Add to Cart</button>

              <p id="<%= book.isbn %>" class="hidden">Added to cart!</p>
            </form>
        </div>
    <% } %>
    <i>Page <%= page.current %> of <%= page.max %>
      <% if (page.current > 1) { %>
        <a class="nav-link" href="./books/browse/<%= books[0].subject %>/<%= page.current - 1 %>">Back</a>
      <% } %>
      <a class="nav-link" href="./books/browse/<%= books[0].subject %>/<%= page.current + 1 %>">Next</a></i>
  <% } else { %>
    <h2>No user logged in!</h2>
  <% } %>
</div>