<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Book lending!</title>
  <base href="<%= locals.baseURL %>" />
  <link rel="stylesheet" href="./css/styles.css" />
  <script type="module" src="./js/index.js"></script>
</head>

<body>

    <%- include('../partials/header.ejs'); %>

  <main role="main" class="container">
    <%- include('../partials/flash') %>
    <%- body %>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>